<div class="addUser">
  <h4 class="addUser__title"># Ajouter ou modifier un utilisateur</h4>
  <form class="addUser__form" action="" method="post">
    <input class="input" required type="text" name="name" placeholder="Saisir le nom de l'utilisateur">
    <input class="input" required type="text" name="profile_pic" placeholder="saisir le nom du fichier de la photo de profil">
    <input class="input" required type="text" name="restriction_age" placeholder="Saisir l'âge de restriction de l'utilisateur">
    <input class="addButton" onclick=" C.handlerAddUser()" type="submit" value="adduser" name="todo">
  </form>
</div>
