<div class="addMovie">
  <h4 class="addMovie__title"># Ajouter ou modifier un film</h4>
  <form class="addMovie__form" action="" method="post">
    <input class="input" required type="text" name="name" placeholder="Saisir un titre de film">
    <input class="input" required type="text" name="year" placeholder="Saisir l'année de sortie">
    <input class="input" required type="text" name="length" placeholder="Saisir la durée du film">
    <input class="input" required type="text" name="description"
      placeholder="Saisir la description ou le synopsis du film">
    <input class="input" required type="text" name="director" placeholder="Saisir le nom du réalisateur">
    <select required class="input" name="id_category">
      <option value="" disabled selected>Sélectionner une catégorie</option>
      <option value="1">Action</option>
      <option value="2">Comédie</option>
      <option value="3">Drame</option>
      <option value="4">Science-fiction</option>
      <option value="5">Animation</option>
      <option value="6">Thriller</option>
      <option value="7">Horreur</option>
      <option value="8">Aventure</option>
      <option value="9">Fantaisie</option>
      <option value="10">Documentaire</option>
    </select>
    <input class="input" required type="text" name="image" placeholder="Saisir le nom du fichier de l'image du film">
    <input class="input" required type="text" name="trailer" placeholder="Saisir l' URL du film">
    <input class="input" required type="number" name="min_age" placeholder="Saisir un âge de restriction">

    <input class="addButton" onclick=" C.handlerAdd()" type="submit" value="add" name="todo">

  </form>
</div>
