<div class="addMovie">
  <h4 class="addMovie__title"># Ajouter ou modifier un film</h4>
  <form class="addMovie__form">

      <!-- <input onchange=" {{handlerChange}}"required type="number" name="semaine" placeholder="semaine" min="1" max="52">
       -->

      <input required type="text" name="titreFilm" placeholder="Saisir un titre de film" >
      <input required type="text" name="réalisateur" placeholder="Saisir le nom du réalisateur" >
      <input required type="text" name="anneeSortie" placeholder="Saisir l'année de sortie">
      <input required type="text" name="duree" placeholder="Saisir la durée du film" >
      <input required type="text" name="description" placeholder="Saisir la description ou le synopsis du film" >
      <select name="Selectionner une categories" >
        <option value="1">Action</option>
        <option value="2">Comédie</option>
        <option value="3">Drame</option>
        <option value="4">Science-fiction</option>
        <option value="5">Animation</option>
        <option value="6">Thriller</option>
        <option value="7">Horreur</option>
        <option value="8">Aventure</option>
        <option value="9">Fantaisie</option>
        <option value="10">Documentaire</option>
    </select>
      <input required type="text" name="imageFilm" placeholder="Saisir le nom du fichier de l'image du film" >
      <input required type="text" name="urlTrailer" placeholder="Saisir l' URL du film" >
      <input required type="number" name="restrictionAge" placeholder="Saisir un âge de restriction" >
      





      <input onclick="{{handlerUpdate}}" type="button" value="Update" name="todo">

  </form>
</div>
