<figure class="moviecard font-sans">
  <div class="moviecard__img-container">
  <img src="../server/images/your_name.jpg" alt="your name" class="moviecard__img"></div>
  <figcaption class="moviecard__caption">
    <h1 class="moviecard__title">Your Name</h1>
    <!-- <li class="moviecard__item" onclick="{{hAbout}}">About</li> -->
  </figcaption>
</figure>
<figure class="moviecard font-sans">
  <div class="moviecard__img-container">
  <img src="../server/images/interstellar.jpg" alt="interstellar" class="moviecard__img"></div>
  <figcaption class="moviecard__caption">
    <h1 class="moviecard__title">Interstellar</h1>
    <!-- <li class="moviecard__item" onclick="{{hAbout}}">About</li> -->
  </figcaption>
</figure>
<figure class="moviecard font-sans">
  <div class="moviecard__img-container">
  <img src="../server/images/schindler.webp" alt="schindler" class="moviecard__img"></div>
  <figcaption class="moviecard__caption">
    <h1 class="moviecard__title">Schindler</h1>
    <!-- <li class="moviecard__item" onclick="{{hAbout}}">About</li> -->
  </figcaption>
</figure>