.moviepage__trailer{
  width: 70%;
  height: 35rem;
  align-self: center;
  position: relative;
  top: 2rem;
}
.Moviepage__info{
  .img__container{
    height: 22rem;
  width: 16rem;
    display: flex;
  overflow: hidden;
  position: relative;
  flex-shrink: 1;
  z-index: -2;
   .img{
    width: 100%;
    height: 100%;
    object-fit: cover;
    object-position: center center;
   }
  }
}
