<iframe class="moviepage__trailer" src="{{trailer}}" frameborder="0" width="560" height="315"></iframe>
<section class="Moviepage__info">
  <div class="img__container">
    <img class="img" src="../server/images/{{img}}" alt="movie poster" >
  </div>
  <div class="moviepage__info__container">
    <h1 class="moviepage__title">{{title}}({{date}})</h1>
    <div class="moviepage__infos">
      <p class="moviepage__rating">{{rating}}</p>
      <p class="moviepage__genre">{{genre}}</p>
      <p class="moviepage__duration">{{duration}}</p>
    </div>
    <p class="moviepage__director">{{director}}</p>
    <p class="moviepage__description">{{description}}</p> 
    </div>
    <!-- user rating -->
    <!-- <input type="number" > -->
    <!-- des etoiles en svg et selon la position de l'etoile selon laquelle on clique, on ajoute un nouveau rating dans le data -->
    <div class="userRatings__container">
      <div class="userRatings__star">
    <input id="s1" type="button" value="1" onclick="C.handlerAddChangeRating()">
    <label for="s1"><img class="addRating" src="../server/images/star.svg" alt="add Rating" ></label>
    </div>
    <div class="userRatings__star">
    <input id="s2" type="button" value="2">
    <label for="s2"><img class="addRating" src="../server/images/star.svg" alt="add Rating" ></label>
</div>
    <div class="userRatings__star">
    <input id="s3" type="button" value="3">
    <label for="s3"><img class="addRating" src="../server/images/star.svg" alt="add Rating" ></label>
</div>
    <div class="userRatings__star">
    <input id="s4" type="button" value="4">
    <label for="s4"><img class="addRating" src="../server/images/star.svg" alt="add Rating" ></label>
</div>
    <div class="userRatings__star">
    <input id="s5" type="button" value="5">
    <label for="s5"><img class="addRating" src="../server/images/star.svg" alt="add fav" ></label>
  </div>
</div>
</section>
